.select2-selection {
  height: 30px;
  .select2-selection__arrow {
    height: 30px;
  }
}

.select2-container .select2-selection--single {
 height: 30px;
 border: 1px solid #ddd;
 outline: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 30px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
}
.select2-search__field:focus {
  border: 1px solid #99baca !important;
  outline: 0;
  background: #f5fbfe;
  color: #444;
}
.select2-dropdown {
  border: 1px solid #ddd;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 9px;
}
.select2-selection--multiple {
  height: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #99baca;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd;
}
.select2-container .select2-search__field {
  line-height: 24px !important;
  margin-top: 9px !important;
}